HTTP_SERVER_URL=localhost:4000
HTTP_SHUTDOWN_TIMEOUT=5s
HTTP_AUTH_API_KEY=
HTTP_GIN_MODE=release
HTTP_LOGGER_ENABLED=1
HTTP_STREAM_TOKEN_EXPIRY=30s

REQLOG_BINARY_PATH=reqlog
REQLOG_EXECUTION_TIMEOUT=15m
REQLOG_MAX_LINES=5000
